<div class="row-fluid padding_top">
<div class="span7"></div>
<div class="span4">
	<div class="signin_background">
<h3 class="form-signin-heading headingborder_color">Resend confirmation instructions</h3>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email, :class => "input-block-level" %></div>

  <%= f.submit "Resend confirmation instructions", :class => "btn btn-info btn-block btn-primary" %>
  <br />
<%= link_to "Sign up for twitter", new_registration_path(resource_name), :class => "cnfrmation_singup_btn" %>

  
<% end %>
</div>
</div>
</div>