<div class="row-fluid padding_top">
<div class="span7"></div>
<div class="span4">
<div class="signin_background">
	<h3 class="form-signin-heading headingborder_color">Sign up</h3>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :email %>
  <%= f.email_field :email, :class => "input-block-level"  %>

  <%= f.label :password %>
  <%= f.password_field :password, :class => "input-block-level"  %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, :class => "input-block-level"  %>
  
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), :class => "signup_receive_confirmation" %><br />

  <%= f.submit "Sign up", :class => "btn btn-info" %>
<% end %>

</div>
</div>
</div>