<table>
  <tr>
    <th>Content</th>
  </tr>

  <% @tweets.each do |tweet| %>
    <tr>
      
      <td><%= tweet.content %></td>
      <td><%= link_to "Reply", new_user_tweet_path(:user_id => current_user.id , 
      :reply_tweet_id => tweet.id) %></td> 
      <td><%= 'Retweeted' if !(tweet.parent_tweet_id.nil?)%></td>

      <% if current_user == tweet.user %>
        <td><%= link_to 'Destroy', user_tweet_path(tweet.user, tweet) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      
      <% if !(@user == current_user) %>
        <td><%= link_to 'Retweet', retweet_user_tweet_path(current_user, tweet) %></td>
      <% end %>

    </tr>
    <tr>
      <td><%#= tweet.content %></td>
    </tr>
  <% end %>
</table>

<br />

<%= will_paginate @tweets %>