<table>
  <tr>
    <th>Status</th>
  </tr>

  <% @tweets.each do |tweet| %>
    <tr>
      
      <td><%= tweet.status %></td>
      
      <td><%= 'Retweeted' if !(tweet.parent_tweet_id.nil?)%></td>

      <% if current_user == tweet.user %>
        <td><%= link_to 'Destroy', user_tweet_path(tweet.user, tweet) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      
      <% if !(@user == current_user) %>
        <td><%= link_to 'Retweet', retweet_user_tweet_path(current_user, tweet)%></td>
      <% end %>

    </tr>
  <% end %>
</table>

<br />

<%= will_paginate @tweets %>