<div class="span4 padding margin_left">
  <div class="span3">
    <div class="user_dashboard">
  <div class="userpic_wrapper">
    <div class="userpic">
      <%=link_to image_tag(@user.photo.url(:thumb)), "#" %>
    </div><!-- userpic -->
    <% if !@user.name.nil? %>
    <%=link_to @user.name, "#", :class => "username" %>
    <% else %>
     <%=link_to @user.email, "#", :class => "username" %>
    <% end %>
    <br />

    <%=link_to "View My Profile page", "#", :class => "view_profile" %>
  </div><!-- userpic_wrapper -->
</div><!-- userprofile_section -->
</div><!-- span3 -->
<div class="clear_both"></div>
    <div class="span3">
        <div class="user_dashboard">
        <ul class="nav nav-tabs nav-stacked">
            <li><a herf="#">Accout</a></li>
            <li><a herf="#">Password</a></li>
            <li><a herf="#">Mobile</a></li>
            <li><a herf="#">Email Notification</a></li>
            <li class="active"><a herf="#">Profile</a></li>
            <li><a herf="#">Design</a></li>
            <li><a herf="#">App</a></li>
            <li><a herf="#">Widget</a></li>

        </ul>
        </div><!-- user_dashboard -->
    </div><!-- span3 -->
</div><!-- span4 -->



<div class="span5">
  <div class="edit_profile_container">
    <div class="edit_profile_title">
      <h3>Profile</h3>
      <p class="subheading">This information appears on your public profile, search results, and beyond.
      </p>
    </div><!-- edit_profile_title -->

<div class="edit_profile_form_wrapper">
<%= form_for @user, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
<div class="control-group">
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">

    <%= f.label :photo, :class => "control-label" %>
    <%#= image_tag ('../assets/userthumbnail.jpeg'), :class => "img-polaroid" %>
    
    <%= f.file_field :photo, :class => "controls" %>
  </div>

  <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <%= f.text_field :name, :class => "controls" %>
    <p>Enter your real name, so people you know can recognize you.</p>
  </div>
   <div class="control-group">
    <%= f.label :mobile, :class => "control-label" %>
    <%= f.text_field :mobile, :class => "controls" %>
    <p>Enter your Mobile Number, so people you know can recognize you.</p>
  </div>

  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_area :bio, :rows=> 4, :cols => 800 %>

 <div class="control-group">
    <%= f.label :location, :class => "control-label" %>
    <%= f.text_field :location, :class => "controls" %>
    <p>Where in the world are you?</p>

  </div>

  <div class="control-group">
    <%= f.label :bio, :class => "control-label" %>
    <%= f.text_area :bio, :rows=> 2, :cols => 50, :class => "controls" %>
    <p>About yourself in 160 characters or less.</p>
  </div>
  <div class="control-group">
    <%= f.label(:gender, "Male", :class => "control-label") %>
    <%= f.radio_button(:gender, "Male", :class => "controls") %>

    <%= f.label(:gender, "Female", :class => "control-label") %>
    <%= f.radio_button(:gender, "Female", :class => "controls") %>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => "control-label" %>
    <%= f.text_field :city, :class => "controls" %>
  </div>
  <div class="control-group">
    <%= f.label :country, :class => "control-label" %>
    <%= f.text_field :country, :class => "controls" %>
  </div>
  <div class="control-group">
    <%= f.label :website, :class => "control-label" %>
    <%= f.text_field :website, :class => "controls" %>
  </div>
  
  <div class="actions controls">
    <%= f.submit(:class => "btn btn-info update_btn_margintop") %>
    
  </div>
  <%= link_to 'Show', @user, :class => "btn controls" %>
<% end %>
</div>
</div><!-- edit_profile_form_wrapper -->
</div><!-- edit_profile_container -->
</div><!-- span5 -->
