<div class="edit_profile_container">
	<div class="edit_profile_title">
		<h3>Followers</h3>
	</div>

<ul class="nav nav-pills nav-stacked">
    <% if !@followers.nil? %>  
        <% @followers.each do |user| %>
            <li>
            <div class="media tweetbox_padding border">
                <a class="pull-left" href="#">
                    <%= image_tag(user.photo.url(:thumb)) %>
                </a>
                <div class="media-body">
                    <h5 class="media-heading  border_bottom">
                        <%= link_to user.name, user, :class => "user_name" %>  &nbsp;
                        <%= link_to user.email, user, :class => "user_email" %>
                    </h5>
                    <div class="user_bio">
                    	<%= user.bio %>
                    </div>
                    <% if !(user == current_user)%>
                        <%= link_to_if(!(user.following?(current_user)), "Follow", follow_user_path(user), :class => "btn") do link_to 'Unfollow', unfollow_user_path(user), :class => "btn" end %>	
                    <% end %>
				</div><!-- media-body -->
			</div><!-- media padding -->
			</li>
		<% end %>
	<% else %>
		<h5><%= @user.name %> is not following to anyone.</h2>
	<% end %>
</ul>                
</div>
