<div class="user_dashboard">
    <div class="userpic_wrapper">
        <div class="userpic">
            <%= link_to image_tag(@user.photo.url(:thumb)), "#", :class => "userpic_link_hover" %>
        </div><!-- userpic -->
        <% if !@user.name.nil? %>
            <%= link_to @user.name, "#", :class => "username" %>
        <% else %>
            <%= link_to @user.email, "#", :class => "username" %>
        <% end %>
        <br />
        <%= link_to "View My Profile page", "#", :class => "view_profile" %>
    </div><!-- userpic_wrapper -->
  
    <div class="homepage_tweets_wrapper">
        <%= render "tweet_follow_unfollow_links_with_counts", :@user => @user %>
    </div>
    <br />
    <span id = "follow_unfollow_<%= @user.id %>" >
        <%= render "follow_unfollow_button" %>
    </span>
                
    <% if @user == current_user %>
        <%= render 'tweets/form', :@tweet => Tweet.new %>
    <% end %>
</div>