<div class="edit_profile_container">
	<div class="edit_profile_title">
		<h3>Following</h3>
	</div>

<ul class="nav nav-pills nav-stacked">
    <% if !@following.nil? %> 
        <% @following.each do |user| %>
            <li>
            <div class="media tweetbox_padding border">
                <a class="pull-left" href="#">
                    <%= image_tag(user.photo.url(:thumb)) %>
                </a>
                <div class="media-body">
                    <h5 class="media-heading  border_bottom">
                        <%= link_to user.name, user %> <%= user.email %>
                    </h5>
                    	<%= user.bio %>

                    	<%= link_to "Unfollow", unfollow_user_path(user), :class => "btn btn-info" %>

				</div><!-- media-body -->
			</div><!-- media padding -->
			</li>
		<% end %>
	<% else %>
		<h5><%= @user.name %> is not following to anyone.</h2>
	<% end %>
</ul>                
            
            

            
            
</div>