<div class="edit_profile_container">
    <div class="mepage_padding">
        <div class="user_cover_pic">
            <div class="row">
                
                <div class="span7 padding_top margin">
                    <div class="thumbnail border_none">
                        <%= image_tag(@user.photo.url(:thumb)) %>
                        <div class="caption">
                            <h3 class="white_color"><%= @user.name %></h3>
                            <p class="white_color">
                                <%= @user.email %><br />
                                <%= truncate(@user.bio, :length => 80, :omission => ' ...')%><br />
                                <strong><%= @user.country %></strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- user_cover_pic -->
        <div class="row user_tweet_status">
            <a href="#" class="span1 my_tweets_rating"> 
                <strong><%= @user.tweets.count %></strong> <br />Tweets</a>
            <a href="#" class="span1 my_tweets_rating"> 
                <strong><%= @user.following_users.count %></strong> <br />Following</a>
            <a href="#" class="span1 my_tweets_rating"> 
                <strong><%= @user.user_followers.count %></strong> <br />Followers</a>
        </div>
    </div><!-- mepage_padding -->
</div><!-- edit_profile_container -->