<div class="span4">
	<div class="user_dashboard">
        <ul class="nav nav-tabs nav-stacked mrgn_btm">
            <li class="active"><a herf="#">Tweets</a></li>
            <li><%= link_to "Activity", "#" %></li>
            <li><%= link_to "Who to Follow", "#" %></li>
            <li><%= link_to "Find friends", "#" %></li>
            <li><%= link_to "Browse categories", "#" %></li>
        </ul>
    </div><!-- user_dashboard -->

	<div class="user_dashboard">
		Who to Follow .
        <%= link_to "Refresh", "#", :class => "refresh" %> .
        <%= link_to "View All", "#", :class => "refresh" %>

        <ul class="nav nav-pills nav-stacked">
            
            <% (1..3).each do |i| %>
            <li>
            <div class="media who_tofollow_padding">
                <a class="pull-left" href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="/assets/usertweet_profilepic.png">
                </a>
                <div class="media-body">
                    <h5 class="media-heading">
                        MagmaConf <small>&#169; MagmaConf</small>
                    </h5>
                    Followed by Gregg Pollack
                    <br />
                     <a class="link_color" href="#">Follow</a>
                </div><!-- media-body -->
            </div><!-- media padding -->
            </li>
            <% end %>
        </ul>
	</div><!-- user_dashboard -->
 
    <div class="user_dashboard">
        <ul class="copyright_wrapper">
            <li class="copyright">&#169; 2013 Twitter</li>
            <li><a herf="#">About</a></li>
            <li><a herf="#">Help</a></li>
            <li><a herf="#">Terms</a></li>
            <li><a herf="#">Privacy</a></li>
            <li><a herf="#">Blog</a></li>
            <li><a herf="#">Status</a></li>
            <li><a herf="#">Apps</a></li>
            <li><a herf="#">Resources</a></li>
            <li><a herf="#">Jobs</a></li>
            <li><a herf="#">Advertisers</a></li>
            <li><a herf="#">Businesses</a></li>
            <li><a herf="#">Media</a></li>
            <li><a herf="#">Developers</a></li>           

            <br style="clear:both;">
        </ul>
    </div><!-- user_dashboard -->
</div><!-- span4 -->


<div class="span7">


<div class="edit_profile_container">
        <div class="edit_profile_title">
            <h3>Tweets</h3>
           
        </div>
        
        <ul class="nav nav-pills nav-stacked">
            <% (1..5).each do |i| %>
            <li>
            <div class="media tweetbox_padding border">
                <a class="pull-left" href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="/assets/usertweet_profilepic.png">
                </a>
                <div class="media-body">
                    <h5 class="media-heading">
                        HCL Technologies <small>&#169; hcltech</small>
                    </h5>
                    Neil-Vikram-Vinay's Fun-Musical Exclusive Interview On 'David' | Bollywood Videos - Bollywood Hungama Neil-Vikram-Vinay's Fun-Musical Exclusive Interview On 'David
                    
                    <br />
                    <div class="reply">reply</div>
                    <%= link_to "Reply", "#", :class => "link_color" %>
                    <div class="retweet retweet_background">Retweet</div>
                    <%= link_to "Retweet", "#", :class => "link_color" %>
                    <div class="favourite favourite_background">Favourite</div>
                    <%= link_to "Favourite", "#", :class => "link_color" %>
                    <div class="span5 flexible_width">
                    <%= link_to image_tag ("/assets/proxy.jpg") %>
                    </div>
                    <p>BOLLYWOOD GALORE: <small>With Nitin Gadkari expected to get another term as BJP president, party member Mahesh Jethmalani today indicated he may put up a token fight by deciding to contest for the post.</small></p>
                </div><!-- media-body -->
            </div><!-- media padding -->
            </li>

            <% end %>
            </ul>
</div>
    
</div><!-- span7 -->