<div class="span4">
    <%= render 'user_dashboard_me_page'%>
	
    <%= render 'list_of_users_to_follow'%>
	
    <%= render 'copyright'%>
    
</div><!-- span4 -->

<div class="span7">
	<%= render 'user_cover_pic_me_page' %>
  	<%= render 'user_followings' %>
</div>