<p>
  <b>Username:</b>
  <%= @user.email%>
</p>

<table>
  <h5>Your Tweets</h5>
  <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.status %></td>
        <td><%= link_to tweet.user.email, tweet.user %></td>
      </tr>
    
  <% end %>
</table>

Create a new tweet <%= link_to 'New Tweet',  new_user_tweet_path(@user) %> 


<table>
  <tr>
    <td><h5>Other users</h5></td>
  </tr>
  <% User.all.each do |user|%>
  <tr>
    <td><%= link_to user.email, user %></td>
  </tr>
  <% end %>
</table>
<br />
</div>


<!--</div>
</div>-->