<p>
  <b>Username:</b>
  <%= @user.email%>
</p>

<%= link_to 'View your Tweets', user_tweets_path(@user) %>
<%= link_to 'View your Followers',  following_user_path(@user) %>

<table>
  <tr>
    <td><h5>Other users</h5></td>
  </tr>
  <% User.all.each  do |user| %>
  <tr>
    <td><%= link_to user.email, user  %></td>
    <td><%#= link_to 'Follow', follow_user_path(user) %>
      <%= link_to_if(user.following?(current_user), "Unfollow", unfollow_user_path(user)) do 
        link_to 'Follow', follow_user_path(user) end %>
      </td>
    </tr>
  <% end %>
</table>
<!--</div>
</div>-->