<div class="span4">
    <%= render 'list_of_users_to_follow'%>
    <%= render 'copyright'%>
</div>

<div class="span7">
	<div class="edit_profile_container">
		<div class="edit_profile_title">
			<h3>Results for Nitin Grover</h3>

		</div>
		<div class="new_tweet_container">
	        <div class="new_tweets">100 new tweets</div>
	    </div>
	    <ul class="nav nav-pills nav-stacked">
	    	<li>

	    		<div class="media tweetbox_padding border">
	    			<% if @users_count > 0 %>
	<%= link_to "Users (#{@users_count})", 
	search_users_path(:search => params[:search]) %>
<% else %>
	Users (0)
<% end %>

<% if @tweets_count > 0 %>
	<%= link_to "Tweets (#{@tweets_count})", 
	search_tweets_path(:search => params[:search]) %>
<% else %>
	Tweets (0)
<% end %>

<br />

<% @users_searched.each do |user| %>
	<%= link_to user.name, user %>
<% end %>
	    			
	    			<div class="media">
              <%= link_to image_tag ("/assets/usertweet_profilepic.png"), :class => "pull-left" %>
              <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>
	    		</div>
	    		
	    	</li>
	    	<li></li>
	    	<li></li>

	    </ul>
	</div>
</div>


