<div class="span4">
  <div class="span3">
    <div class="user_dashboard">
  <div class="userpic_wrapper">
    <div class="userpic">
      <%=link_to image_tag(@user.photo.url(:thumb)), "#" %>
    </div><!-- userpic -->
    <% if !@user.name.nil? %>
    <%=link_to @user.name, "#", :class => "username" %>
    <% else %>
     <%=link_to @user.email, "#", :class => "username" %>
    <% end %>
    <br />

    <%=link_to "View My Profile page", "#", :class => "view_profile" %>
    
  </div><!-- userpic_wrapper -->
  
  <div>
    <% if @user==current_user %>
      <%= link_to 'Edit Profile', edit_user_path(@user) %>
      <%= link_to 'New Tweet',  new_user_tweet_path(@user) %> 
    <% end %>
    <%= link_to 'View Tweets',  user_tweets_path(@user) %>
    
    <br />
    
   
    
    <%= link_to 'Follower',  followers_user_path(@user) %>
    
    <%= link_to 'Following',  following_user_path(@user) %>
  </div>
  <div>
    <% if !(@user == current_user) %>
      <%= link_to_if(@user.following?(current_user), "Unfollow", unfollow_user_path(@user)) do link_to 'Follow', follow_user_path(@user) end %>
    <% end %>
  </div>
</div><!-- userprofile_section -->
<br>
  <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@user.latitude},#{@user.longitude}&zoom=11&size=200x200&sensor=false" %>

 </div><!-- span3 -->
</div><!-- span4 -->
<div class="span7">
  <div class="edit_profile_container">
    <div class="edit_profile_title">
      <h3>Tweets</h3>
      <div class="clear_both"></div>
    </div>

    <div class="new_tweet_container">
        <div class="new_tweets">4 new tweets</div>

    </div>
  </div>