<div class="span4 padding margin_left">
  <p id="notice"><%= notice %></p>
  <p>
    <%= image_tag @user.photo.url(:thumb) %>
    <% if !@user.name.nil? %>
      <%= @user.name %>
    <% else %>
      <%= @user.email %>
    <% end %>
  </p>
  
  <div>
    <% if @user==current_user %>
      <%= link_to 'Edit Profile', edit_user_path(@user) %>
      <%= link_to 'New Tweet',  new_user_tweet_path(@user) %> 
    <% end %>
    <%= link_to 'View Tweets',  user_tweets_path(@user) %>
    
    <br />
    
   
    
    <%= link_to 'Follower',  followers_user_path(@user) %>
    
    <%= link_to 'Following',  following_user_path(@user) %>
  </div>
  <div>
    <% if !(@user == current_user) %>
      <%= link_to_if(@user.following?(current_user), "Unfollow", unfollow_user_path(@user)) do link_to 'Follow', follow_user_path(@user) end %>
    <% end %>
  </div>

 
</div>
<div class="span6 padding">Tweets</div>