<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.email%>
</p>


<div>

    <%= link_to 'View Your Tweets',  user_tweets_path(@user) %>
    
    <br />
    <%= link_to 'New Tweet',  new_user_tweet_path(@user) %> 
    <%= link_to 'View whom you are following',  following_user_path(@user) %>
</div>