<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.name%>
</p>


<div>
	<%= link_to 'Edit Profile', edit_user_path(@user) %>
    <%= link_to 'View Tweets',  user_tweets_path(@user) %>
    
    <br />
    <%= link_to 'New Tweet',  new_user_tweet_path(@user) %> 
    <%= link_to 'Following',  following_user_path(@user) %>
</div>