<div class="span5">
<h3>Welcome to Twitter.</h3>
<p>Find out what’s happening, right now, with the people and organizations you care about.</p>
</div>
<div class="span4">
<h3>Sign in</h3>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.label :email%><br />
  <%= f.email_field :email, :placeholder => "nitin@fizzysoftware.com" %>

  <%= f.label :password %><br />
  <%= f.password_field :password, :class => "input_width", :placeholder => "*********"  %>
  
<%= f.submit "Sign in", :class => "btn btn-info signin_btn" %>

  <% if devise_mapping.rememberable? -%>
	    <div><%= f.check_box :remember_me, :class => "float_left" %> <%= f.label :remember_me %>
	    </div>
  <% end -%>

  <%#= f.submit "Sign in", :class => "btn btn-info signin_btn" %>
<% end %>



<%= render "devise/shared/links" %>
</div>
