<!-- Navbar ================================================== -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="span11">
            
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <%= link_to_if(user_signed_in?, "Twitter", current_user, :class => "logo" ) do 
                link_to 'Twitter', new_user_session_path, :class => "logo" end %>
            
            <% if user_signed_in? %>
            <div class="nav-collapse collapse navbar-responsive-collapse nav_background">
            
                <ul class="nav">
                    
                    <li><%= link_to "Connect", connect_user_path(@user) %></li>
                    <li><%= link_to "Discover", discover_user_path(@user) %></li>
                    <li><%= link_to "Me", me_user_path(@user) %></li>
                </ul>

                <%= form_tag search_users_path, :class => "navbar-search pull-right", :placeholder => "Search", method: :get do %>
                    <%= text_field_tag :search, params[:search], { :class => "search-query span2"} %>
                <% end %>

                <ul class="nav pull-right  padding_right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown">Edit Profile <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><% if user_signed_in? %>
                                <a href="<%= user_url(current_user) %>">
                                <div class="editprofile_userpic">
                                    <%= image_tag(current_user.photo.url(:thumb)) %> 
                                </div>
                            <h5 class="fullname">
                                <%= current_user.name %>
                            </h5>
     
                                </a><% end %>
                            </li>
                            <li><%= link_to "Direct Message", "#" %></li>
                            <li>
                                <% if @user==current_user %>
                                    <%= link_to 'Edit Profile', edit_user_path(@user) %>
                                <% end %>
                            </li>
                            <li class="divider"></li>
                            <li><%= link_to "Help", "#" %></li>
                            <li><%= link_to "Keyboard Shortcuts", "#" %></li>
                            <li class="divider"></li>
                            <li><%= link_to "Settings", "#" %></li>
                            <li><%= link_to "Sign out", destroy_user_session_path, 
                                    :method => :delete %>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.nav-collapse -->
            <% end %>
          </div><!-- span11 -->
        </div><!-- container -->
	</div><!-- navbar-inner -->
</div><!-- navbar navbar-inverse navbar-fixed-top -->

      		