<!DOCTYPE html>
<html>
	<head>
  		<title>Twitter</title>
  		<%= stylesheet_link_tag    "application", :media => "all" %>
  		<%= javascript_include_tag "application" %>
  		<%= csrf_meta_tags %>
      
	</head>

	<body data-spy="scroll" data-target=".bs-docs-sidebar">
    <script type="text/javascript" src="//localhost:3000/fizzybar.js"></script>
<script type="text/javascript">
  getFizzybar( 1, 1 );
</script>


      <div id='notice' style="<%= 'display: none; ' if flash[:notice].blank? %> text-align: center;">
        <%= flash[:notice].html_safe  unless flash[:notice].blank? %>
      </div><!-- notice -->
 
      <div id='error' style="<%= 'display: none;' if flash[:error].blank? %>  text-align: center;">
        <%= flash[:error].html_safe  unless flash[:error].blank? %>
      </div>
        <!-- error -->

		<%=render 'layouts/header' %>

		<div class="container padding_top">
			<%= yield %>
    </div>
  </body>
</html>
